/* Exemples de customisation */
.gantt_grid {
    background-color: #f9f9f9;
}

.gantt_task_row {
    background-color: #f0f8ff;
}

.gantt_task_content {
    border-radius: 6px;
    background-color: #5a9bd5;
    color: white;
}

/* Change color of the weekends */
.gantt_scale_cell.weekend,
.gantt_task_cell.weekend {
    background-color: #fce4e4;
}
